*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
.main{
    padding:20px;
    border: 10px solid black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

 }  
 .box{
    width: 100px;
    height: 100px;
    background-color: red;
    border: 5px solid black ;
 }